@page "/FeedbackFeed"
@rendermode InteractiveServer
<h3>FeedbackFeed</h3>
<div class="modal fade show"
     id="CreateFeedback"
     data-bs-backdrop="static"
     data-bs-keyboard="false"
     tabindex="1"
     aria-labelledby="CreateFeedbackLabel"
     aria-hidden="true"
     style="backdrop-filter: blur(); display: @(ShowModal ? "block" : "none")">
    <div class="modal-dialog">
        <div class="modal-content">
            <EditForm model="@FeedbackViewModel" OnSubmit="CreateFeedback">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="CreateFeedbackLabel">Opret Evaluering</h1>
                    <button type="button" class="btn-close" @onclick="CloseModal" aria-label="Luk"></button>
                </div>
                <div class="modal-body">
                    <DataAnnotationsValidator/>
                    <div class="mb-3">
                        <label>Titel</label>
                        <input @bind-value="FeedbackViewModel.Title"
                               class="form-control"/>
                    </div>
                    <div class="mb-3">
                        <label>Problem</label>
                        <InputTextArea @bind-value="FeedbackViewModel.Problem"
                                       class="form-control"
                                       style="height: 80px; max-height: 200px"/>
                    </div>
                    <div class="mb-3">
                        <label>Løsning</label>
                        <InputTextArea @bind-value="FeedbackViewModel.Solution"
                                       class="form-control"
                                       style="height: 80px; max-height: 200px"/>
                    </div>
                    <div class="mb-3">
                        <label>Forum</label>
                        <InputSelect @bind-Value="FeedbackViewModel.RoomId" class="form-control">
                            <option selected value="">Vælg et Forum</option>
                            @foreach (var room in Rooms)
                            {
                                <option value="@room.Id">
                                    @room.Title
                                </option>
                            }
                        </InputSelect>
                    </div>
                    <div class="text-center">
                        <small class="text-danger">@FeedbackViewModel.ErrorMessage</small>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" @onclick="CloseModal">Luk</button>
                    <button type="submit" class="btn btn-primary">
                        @if (StartLoading)
                        {
                            <span class="spinner-border spinner-border-sm" aria-hidden="true"></span>
                            <span role="state">Validating Post...</span>
                        }
                        else
                        {
                            <span>Post</span>
                        }
                    </button>
                </div>
            </EditForm>
        </div>
    </div>
</div>

@if (ShowToast)
{
    <div class="toast-container position-fixed bottom-0 start-50 translate-middle-x" tabindex="-1">
        <div class="toast fade show align-items-center text-white bg-success border-0" role="alert" aria-hidden="true">
            <div class="d-flex">
                <div class="toast-body">
                    Feedback Oprettet
                </div>
                <button type="button" class="btn-close btn-close-white me-2 m-auto" @onclick="HideToast"
                        aria-label="Close"></button>
            </div>
        </div>
    </div>
}

<div>
    <button type="button" class="btn btn-outline-success" @onclick="OpenModal">
        Opret Evaluering
    </button>
</div>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4"
        crossorigin="anonymous"></script>